body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Noto Serif JP', serif;
  color: #000000;
}

h2, h3 {
  font-family: 'Noto Serif JP', serif;
  color: #B22222;
}

.special {
  font-family: 'Pacifico', cursive;
}

.header {
  background-color: #808080; /* Gray background */
  color: #000000;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #B22222;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li strong {
  display: block;
  margin-bottom: 5px;
}

p {
  margin: 5px 0;
}

button {
  background-color: #B22222;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #FFFFFF;
  color: #B22222;
  border: 1px solid #B22222;
}
